.App {
  text-align: center;
  color: white;
}

h2 {
  background-color: rgb(206, 170, 62);
  color: rgb(20, 20, 19);
  text-transform: uppercase;
  padding: 5px;
}

h4 {
  font-size: 18px;
}

.myTable {
  margin: 20px;
}

.featuredMovie {
  border: 1px solid white;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.myGenres {
  list-style: none;
  padding: 5px;
  background-color: rgb(206, 170, 62);
  color: rgb(20, 20, 19);
}

.editFields {
  display: block;
  width: 250px;
}

textarea {
  height: 250px;
}